<ion-header>
  <ion-navbar>
      <ion-title>View Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="view">
  <ion-list>
      <ion-list-header>
          TITLE
      </ion-list-header>
      <ion-item>{{ passwordItem.title }}</ion-item>
      <ion-list-header>
          USERNAME
      </ion-list-header>
      <ion-item>{{ passwordItem.username }}</ion-item>
      <ion-list-header>
          PASSWORD
      </ion-list-header>
      <ion-item>{{ passwordItem.password }}</ion-item>
  </ion-list>
</ion-content>